.unlock-page {
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &__ixo-graphic {
    width: 100%;
    height: 266px;
    background-image: url(images/ixo-graphic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__ixo-logo {
    width: 80%;
    height: 60px;
    background-image: url(images/ixo-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    margin-top: 45px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  &__nav-bar {
    height: 43px;
    width: 100%;
    background-color: #063F5A;
    display: table;
  }
  
  &__footer-bar {
    height: 65px;
    width: 100%;
    background-color: #063F5A;
    display: table;
    bottom: 0;
    position: absolute;
    cursor: pointer;    
  }

  &__login-form {
    border: solid 1px yellow;
    position: absolute;
    width: 100%;
  }

  &__login-button {
    cursor: pointer;    
    height: 43px;
    width: 274px;
    border: 1.5px solid #00D2FF;
    border-radius: 2px;
    font-family: "Roboto Condensed";
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.3px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
    background-color: transparent;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__login-button p {
    margin: 0;
  }
  
  &__import-account-link-text {
    color: #ffffff;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  
  &__back-nav-button {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 13px;
    margin-left: 13px;
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;  
  }
  

  &__container {
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 auto;
    height: 597px;
  }

  &__mascot-container {
    margin-top: 24px;
  }

  &__title {
    margin-top: 5px;
    font-size: 2rem;
    font-weight: 800;
    color: $tundora;
  }

  &__form {
    width: 100%;
    margin: 56px 0 8px;
  }

  &__links {
    margin-top: 25px;
    width: 100%;
  }

  &__link {
    cursor: pointer;

    &--import {
      color: $ecstasy;
    }

    &--use-classic {
      margin-top: 10px;
    }
  }
}
