.account-page {
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  height: 596px;

  &__unique-image-frieze {
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    width: 200px;
    height: 200px;
  }

  &__did-section {
    height: 29px;
    width: 299px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    background-color: #08202F;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__did-section:active { 
    background-color: #52B9DF;
    opacity: 0.333;
  }

  &__did-label {
    height: 22px;
    color: #52B9DF;
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
    margin-left: 4px;
    margin-right: auto;  
  }

  &__did-copy-button {
    height: 22px;
    color: #275670;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-left: auto;
    margin-right: 10px;
  }

  &__nav-bar {
    height: 43px;
    width: 100%;
    background-color: #063F5A;
    display: flex;
    align-items: center;
  }

  &__nav-image-item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__ixo-logo-letters {
      width: 42px;
      height: 42px;
      background-image: url(images/ixo-logo-letters.png);
      display: block;
      margin-left: 14px;
      margin-right: auto;
  }

  &__ixo-menu-burger {
    width: 32px;
    height: 32px;
    background-image: url(images/ixo-menu-burger.png);
    display: block;
    margin-left: auto;
    margin-right: 14px;
    cursor: pointer;
  }

  &__ixo-menu-burger:hover {
    opacity: 0.333;
  }

  &__description-section {
    font-family: "Roboto Condensed";
    font-size: 23px;
    color: #FFFFFF;
    height: 37px;
    letter-spacing: 0.15px;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
  }

  &__description-section input {
    font-family: "Roboto Condensed";
    font-size: 23px;
    color: #FFFFFF;
    height: 37px;
    letter-spacing: 0.15px;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
  }

  &__description-label {
    margin-top: 9px;
    font-size: 20px;
  }

  &__footer-bar {
    height: 65px;
    width: 100%;
    background-color: #063F5A;
    display: table;
    bottom: 0;
    position: absolute;
    cursor: pointer;    
  }

  &__export-pk-button {
    cursor: pointer;    
    border: 1.5px solid #00D2FF;
    color: #FFFFFF;
    height: 43px;
    width: 274px;
    border-radius: 2px;
    font-family: "Roboto Condensed";
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
    background-color: transparent;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
  }

  &__export-pk-button p {
    margin: 0;
  }
  
  &__export-pk-link-text {
    color: #ffffff;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  &__export-pk-button:hover {
    color: #063F5A;
    background-color: #00D2FF;
  }

  &__light-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 66;
    display: none;
    background-color: black;
    opacity: 0.333;
  }

  &__light-box-visible {
    display: block;
  }

  &__content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 33;
  }

  &__menu-modal {
    position: absolute;
    width: 220px;
    z-index: 99;
    display: none;
    background-color: #063F5A;
    top: 0;
    right: 0;
  }

  &__menu-modal-visible {
    display: block;
  }

  &__menu-modal-item {
    height: 43px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__menu-modal-item-option {
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
  }

  &__menu-modal-item-option:hover {
    background-color: #0C2739;
    color: #59C7EF;
  }

  &__menu-modal-item-option-disabled {
    cursor: not-allowed;
    color: #A9A9A9;
  }

  &__menu-modal-item-option-disabled:hover {
    color: #A9A9A9;
    background-color: #063F5A;
  }

  &__ixo-menu-close {
    width: 18px;
    height: 18px;
    background-image: url(images/ixo-menu-close.png);
    display: block;
    margin: 0;
    margin-right: 12.5px;
    margin-left: auto;
    cursor: pointer;
  }

  &__ixo-menu-close:hover {
    opacity: 0.333;
  }

}
